---
---

$header-bg-color: red;

@import "{{ site.theme }}";

.main-content h1{
    color: black;
}

.about{
    padding:0;
}
nav ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding-left:0;
}
