---
---

$header-heading-color: #000 !default;

@import "{{ site.theme }}";

// .page-header h1{
//     color: black;
// }
.about{
    padding:0;
}
nav ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding-left:0;
}
a{
    color:black;
}

