---
---

$header-heading-color: #000 !default;

@import "{{ site.theme }}";

// .page-header h1{
//     color: black;
// }
.about{
    padding:0;
}
nav ul{
    display:flex;
    list-style: none;
    justify-content: center;
    padding-left:0;
}
a{
    color:black;
}
// News CSS
.card{
    display:flex;
    margin-bottom:1rem;
    border-bottom: solid 1px #ccc;
}
.pic{
    margin-right:1.5rem;
}